plugins = []

[build]
publish = "dist"
command = "npm run build"
functions = "netlify/functions"

[build.environment]

[functions]
directory = "netlify/functions"
node_bundler = "esbuild"

[[redirects]]
from = "/*"
to = "/index.html"
status = 200

[[headers]]
for = "/*"
[headers.values]
"Cache-Control" = "public, max-age=3600"

[[headers]]
for = "/assets/*"
[headers.values]
"Cache-Control" = "public, max-age=31536000, immutable"